doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    nav
      ul
        li 
          a(href="/") Home
        li 
          a(href="/about") About
    block content
