body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Noto Sans', sans-serif;
  background:#F5F6FA;

}

a {
  color: #00B7FF;
}

.grid {
  display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(17, 100px);  
    
}


.grid div{
 /*  background: #fff; */
  padding:5px;
  -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.cryptos{
  background: #ffdcdc7a;
}

.cryptos.up , .up{
  background:#cbf9dc7a;
}

.grid .crypto, .grid .pc24{
  display:inline-block;
  margin-left:10px;
}

.grid .pc24 {
  float: right;
  font-size: 15px;
}

.grid .crypto{
  font-size:13px;
  font-weight: bold;
}

.grid .price{
  font-size:25px;
  font-weight: bold;
  text-align:center;
}

nav {
  text-align: center;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav ul li {
  display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}

.red{
  color:#d94040;
}

.green{
  color:#009e73;
}

.mooning, .notMooning{
  justify-self: end;
}

.count {
  display: grid;
  grid-template-columns: 1fr;
}

@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}

